section.layout-two-columns-stacked__header {
  margin-bottom: 2rem;
  padding: 0;
}

@media only screen and (min-width: 992px) {
  .row .layout-two-columns-stacked__sidebar {
    position: sticky;
    top: 30px;
    height: min-content;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }
}
