{% if header %}
  <section class="container-fluid layout-two-columns-stacked__header">
    <div class="row no-gutters">
      <div class="col">
        {{ header }}
      </div>
    </div>
  </section>
{% endif %}

<section class="container">
  {% if content_top %}
    <div class="row layout-two-columns-stacked__content-top">
      <div class="col">
        {{ content_top }}
      </div>
    </div>
  {% endif %}
  <div class="row">
    {% if sidebar %}
      <div class="col-lg-4 order-lg-12 layout-two-columns-stacked__sidebar">
        {{ sidebar }}
      </div>
    {% endif %}
    <div class="col-lg-8 layout-two-columns-stacked__content">
      {{ content }}
    </div>
  </div>
  {% if footer %}
    <div class="row layout-two-columns-stacked__footer">
      <div class="col">
        {{ footer }}
      </div>
    </div>
  {% endif %}
</section>
