{#
  /**
   * @file
   * Theme override to display a faq.
   *
   * Available variables:
   * - title: Title of the faq question.
   * - answer: Text faq answer.
   * - faq_id: Text unique id for bootstrap collapse.js
   */
#}
<div class="faq card">
  <div class="card-header card-collpase">
    <button class="faq__question btn btn-link btn-block d-flex justify-content-between card-btn py-3 collapsed" for="{{ faq_id }}" data-toggle="collapse" data-target="#{{ faq_id }}">
      {{ question }}
      <span class="arrow"></span>
    </button>
  </div>
  <div class="faq__answer collapse" id="{{ faq_id }}" data-parent=".accordion">
    <div class="card-body">
      {{ answer }}
    </div>
  </div>
</div>
