<div class="pattern_quote container lyreco-container-sm">
  <div class="pattern_quote__content d-flex align-items-center">
    {% if image %}
      <div class="pattern_quote__image flex-shrink-0">{{ image }}</div>
    {% endif %}
    <div class="pattern_quote__quote">
      <span class="position-relative"></span>
      <blockquote>
        {{ quote }}
      </blockquote>
      <div class="pattern_quote__name">{{ name }}</div>
      <div class="pattern_quote__function">{{ function }}</div>
    </div>
  </div>
</div>
