{#
/**
 * @file
 * Theme override to display a button group
 *
 * Available variables:
 * - items: A collection of button patterns.
 * - aria-label: Label for A11y (optional).
 * - size: A modifier class for setting the size of the buttons.
 */
#}

{%
  set classes = [
    'btn-group',
    size
  ]
%}

<div {{ attributes.addClass(classes) }} role="group" {% if aria_label %}aria-label="{{ aria_label }}"{% endif %}>
  {{ items }}
</div>