/*.image_with_text .wrapper {
  width: 90%;
  bottom: 50px;
}

@media (min-width: 1200px) {
  .image_with_text.image_right .wrapper {
    left: 10%;
  }
  .image_with_text .wrapper {
    min-width: 700px;
    right: 10%;
    bottom: 0;
  }
}*/
