{#
/**
 * @file
 * Theme override to display a image_text
 *
 * Available variables:
 * - text: The text of the paragraph.
 * - title: Title of the paragraph.
 * - image: image.
 * - link: link.
 */
#}
{%
  set position = image_position.field_image_text_position['#items'] is defined and image_position.field_image_text_position['0']['#markup'] is same as('Right')
%}
{%
  set containerClasses = [
  'pattern-image-text',
  'd-flex',
  'flex-column',
  'flex-xl-row',
  'align-items-center',
  position ? 'image_right',
  position ? 'flex-xl-row-reverse',
]
%}
<div {{ attributes.addClass(containerClasses) }}>
  <div class="pattern-image-text__image px-0">{{ image }}</div>
  <div class="pattern-image-text__content">
    <h2 class="pattern-image-text__title mb-3 mb-xl-4">{{ title }}</h2>
    {{ text }}
    <div class="pattern-image-text__link">{{ link }}</div>
  </div>
</div>
