.card-overlay {
  position: relative;
  display: flex;
  min-height: 469px;
  background-color: white;
  background-size: cover;
  background-position: top center;
}

a.card-overlay:hover {
  text-decoration: none;
}

.card-overlay.has-image {
  color: white;
}

.card-overlay.has-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #1e2022 0%, transparent 75%);
  background-repeat: repeat-x;
  border-radius: 0.25rem;
}

.card-overlay article {
  position: relative;
}
