{#
/**
 * @file
 * Theme override to display a card overlay.
 *
 * Available variables:
 * - text: The text of the card.
 * - url: Plain url where the card links (optional).
 * - image: image plain url to show as a background (optional).
 */
#}
{%
  set has_image = image is not empty
%}
{%
  set has_url = url is not empty
%}
{%
  set html_element = has_url ? 'a' : 'div'
%}
{%
  set classes = [
    'card-overlay',
    'd-flex',
    'shadow-sm',
    'rounded',
    has_image ? 'has-image',
  ]
%}
<{{ html_element }} {{ attributes.addClass(classes) }} {% if has_url %}href="{{ url }}"{% endif %} {% if has_image %}style="background-image:url({{ image }})"{% endif %}>
  <article class="align-self-end w-100 text-center p-5">
    <h3>{{ text }}</h3>
  </article>
</{{ html_element }}>
