{#
/**
 * @file
 * Theme override to display a link
 *
 * Available variables:
 * - title: Link title.
 * - url: Link url.
 * - variant: Button variant @see button_ui.patterns.yml
 */
#}
<a href="{{ url }}" class="btn btn-{{ variant }}">{{ title }}</a>
