{#
/**
 * @file
 * Theme override to display a carousel.
 *
 * Available variables:
 * - title: Title of the carousel.
 * - items: Array of each slide content.
 * - carousel_fullwidth: Boolean to show the carousel in fullwidth.
 * - carousel_slides_margin: Boolean to add a class to add margin between slides.
 * - carousel_slides_desktop: Int with the numbers of slides to show in desktop.
 * - carousel_slides_tablet: Int with the numbers of slides to show in tablet.
 */
#}
{%
  set carousel_clases = [
    'carousel',
    carousel_slides_margin.0['#items'] is defined and carousel_slides_margin.0['#items'].getValue() ? 'slides-margin',
  ]
%}
{%
  set has_fullwidth = carousel_fullwidth.0['#items'] is defined and carousel_fullwidth.0['#items'].getValue() is not empty
%}

{% if title.0['#items'] is defined and title.0['#items'].getValue() is not empty %}
  <h2 class="text-center mb-4">{{ title }}</h2>
{% endif %}

{% if has_fullwidth %}
  <div class="container">
{% endif %}
    <div {{ attributes.addClass(carousel_clases) }} data-slick='{
      "arrows": true,
      "dots": true,
      "infinite": false,
      "prevArrow": "<button type=button class=\"slick-prev\">←</button>",
      "nextArrow": "<button type=button class=\"slick-next\">→</button>",
      "slidesToShow": {{ carousel_slides_desktop }},
      "responsive": [{
        "breakpoint": 992,
        "settings": {
          "slidesToShow": {{ carousel_slides_tablet }}
        }
      },
      {
        "breakpoint": 768,
         "settings": {
           "arrows": false,
           "slidesToShow": 1
         }
      }]
    }'>
      {{ items }}
    </div>
{% if has_fullwidth %}
  </div>
{% endif %}
