{#
/**
 * @file
 * Theme override to display a block with background pattern
 *
 * The background-color is optional, so the padding has to be applied
 * only if there is a background present.
 *
 * Available variables:
 * - content: Content of the block.
 * - bg_color: Bootstrap class for the background
 * - text_color: Bootstrap class for the text
 * - padding: Padding utility class
 */
#}

{%
  set classes = [
    'pattern-block-with-background',
    'mb-4',
    bg_color,
    text_color,
    bg_color ? padding : false
  ]
%}

<section {{ attributes.addClass(classes) }}>
  {{ content }}
</section>
